<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SignUp Page</h1>
    <p>Welcome to Registration page</p>
    <form action="login/signup" method="POST">
      <table> 
        <tr>
            <td>
                First Name:
              </td>
              <td>
                <input type="text" name="txtFirstName" required>
              </td>
        </tr>
        <tr>
            <td>
                Last Name:
              </td>
              <td>
                <input type="text" name="txtLastName" required>
              </td>
        </tr>
        <tr>
            <td>
                Username:
              </td>
              <td>
                <input type="text" name="txtUsername" required>
              </td>
        </tr>
        <tr>
            <td>
                Password:
              </td>
              <td>
                <input type="password" name="txtPassword" required>
              </td>
        </tr>
        <tr>
            <td>
                Birthdate:
              </td>
              <td>
                <input type="text" name="txtBirthDate">
              </td>
        </tr>
        <tr>
            <td>
                Gender:
              </td>
              <td>
                <input type="radio" name="gender" value="male">Male <br>
                <input type="radio" name="gender" value="female">Female <br>
              </td>
        </tr>
      </table>
      <input type="submit" value="login">
    </form>
  </body>
</html>
