<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login Page</h1>
    <p>Welcome to Login page</p>
    <form action="success" method="POST">
      Username: <input type="text" name="txtUsername"><br>
      Password: <input type="password" name="txtPassword"><br>
      <input type="submit" value="login">
    </form>
  </body>
</html>
