<!DOCTYPE html>

<html>
    <body>
        <h2> Successfull logged in... </h2>
        <div id = "divUserDetails">
            <table>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        <%=firstname%>
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        <%=lastname%>
                    </td>
                </tr>
                <tr>
                    <td>
                        Gender:
                    </td>
                    <td>
                        <%=gender%>
                    </td>
                </tr>
                <tr>
                    <td>
                        Birthdate:
                    </td>
                    <td>
                        <%=birthdate%>
                    </td>
                </tr>

            </table>
            
        </div>
        
    </body>
</html>